<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-baqh{text-align:center;vertical-align:top}
    </style>
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-baqh">Type 1</th>
        <th class="tg-baqh"><span style="font-weight:bold">4-8 kms</span> range in <span style="font-weight:bold">1 hr.</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-baqh">Type 2</td>
        <td class="tg-baqh"><span style="font-weight:bold">16 to 120 kms</span> of range in <span style="font-weight:bold">1 hr</span><br>depending on the charge capacity<br>of the point and the car<br></td>
      </tr>
      <tr>
        <td class="tg-baqh">Type 3<br></td>
        <td class="tg-baqh"><span style="font-weight:bold">4 to 38 kms</span> of range in <span style="font-weight:bold">1 minute</span></td>
      </tr>
    </tbody>
    </table>