<header>
	<link rel="icon" type="image/png" href="static/favicon.ico" alt="Oregon Department of Transportation, CC BY 2.0 <https://creativecommons.org/licenses/by/2.0>, via Wikimedia Commons">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</header>
<style type="text/css">
	.tg  {border-collapse:collapse;border-spacing:0;}
	.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
	  overflow:hidden;padding:10px 5px;word-break:normal; width:150px;}
	.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
	  overflow:hidden;padding:10px 5px;word-break:normal;}
	.tg .tg-0lax{text-align:center;vertical-align:top}
</style>

<body>
<div class="card">
	<div class="card-header">Usability questionnaire</div>
	<div class="card-body">
			<form id="form">
			<!-- Input type text -->
			<hr>
			<!-- Input type raio -->
			<p><span style="color: red;">*</span> - Required</p>
				<hr>
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label">Familiarity with geographic information systems <span style="color: red;">*</span></label>
				<div class="col-sm-7">
					<table class="tg">
						<thead>
						<tr>
							<th class="tg-0lax">Not at all familiar</th>
							<th class="tg-0lax">Slightly familiar</th>
							<th class="tg-0lax">Somewhat familiar</th>
							<th class="tg-0lax">Moderately familiar</th>
							<th class="tg-0lax">Extremely familiar<br></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td class="tg-0lax">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="exptool" id="exp1" value="1" required>
									<label class="form-check-label" for="exp1">1</label>
								</div>
							</td>
							<td class="tg-0lax">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="exptool" id="exp2" value="2" >
									<label class="form-check-label" for="exp2">2</label>
								</div>
							</td>
							<td class="tg-0lax">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="exptool" id="exp3" value="3" >
									<label class="form-check-label" for="exp3">3</label>
								</div>
							</td>
							<td class="tg-0lax">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="exptool" id="exp4" value="4" >
									<label class="form-check-label" for="exp4">4</label>
								</div>
							</td>
							<td class="tg-0lax">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="exptool" id="exp5" value="5" >
									<label class="form-check-label" for="exp5">5</label>
								</div>
							</td>
						</tr>
						</tbody>
						</table>
				</div>
			</div>
			<hr>
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label">Do you plan on, or think about buying an electric vehicle now or in the future? <span style="color: red;">*</span></label>
				<div class="col-sm-7">
						<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="ev" id="evno" value="1" required>
						<label class="form-check-label" for="evno">No</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="ev" id="evmaybe" value="2">
						<label class="form-check-label" for="evmaybe">Maybe</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="ev" id="evyes" value="3">
						<label class="form-check-label" for="evyes">Yes</label>
					</div>
				</div>
			</div>
			<hr>
			<h4>Questions about the efficacy of the app and its features</h4>
			<hr>
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label">Q1 - Do you think such a web-based application is a good platform for an informed public participation in building new E-charging stations? <span style="color: red;">*</span></label>
				<div class="col-sm-7">
					<table class="tg">
						<thead>
							<tr>
								<th class="tg-0lax">Strongly disagree</th>
								<th class="tg-0lax">     Disagree    </th>
								<th class="tg-0lax">     Neutral     </th>
								<th class="tg-0lax">      Agree      </th>
								<th class="tg-0lax">Strongly agree<br></th>
							</tr>
						</thead>
						<tbody>
						<tr>
							<td class="tg-0lax">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="q1" id="q1_1" value="1" required>
									<label class="form-check-label" for="q1_1">1</label>
								</div>
							</td>
							<td class="tg-0lax">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="q1" id="q1_2" value="2" >
									<label class="form-check-label" for="q1_2">2</label>
								</div>
							</td>
							<td class="tg-0lax">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="q1" id="q1_3" value="3" >
									<label class="form-check-label" for="q1_3">3</label>
								</div>
							</td>
							<td class="tg-0lax">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="q1" id="q1_4" value="4" >
									<label class="form-check-label" for="q1_4">4</label>
								</div>
							</td>
							<td class="tg-0lax">
								<div class="form-check form-check-inline">
									<input class="form-check-input" type="radio" name="q1" id="q1_5" value="5" >
									<label class="form-check-label" for="q1_5">5</label>
								</div>
							</td>
						</tr>
						</tbody>
						</table>
				</div>
			</div>
			<hr>
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label"> Q2 - Do you think local governments should have a service like this to encourage public participation? <span style="color: red;">*</span></label>
				<div class="col-sm-7">
					<table class="tg">
						<thead>
							<tr>
								<th class="tg-0lax">Strongly disagree</th>
								<th class="tg-0lax">     Disagree    </th>
								<th class="tg-0lax">     Neutral     </th>
								<th class="tg-0lax">      Agree      </th>
								<th class="tg-0lax">Strongly agree<br></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="tg-0lax">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="q2" id="q2_1" value="1" required>
										<label class="form-check-label" for="q2_1">1</label>
									</div>
								</td>
								<td class="tg-0lax">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="q2" id="q2_2" value="2" >
										<label class="form-check-label" for="q2_2">2</label>
									</div>
								</td>
								<td class="tg-0lax">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="q2" id="q2_3" value="3" >
										<label class="form-check-label" for="q2_3">3</label>
									</div>
								</td>
								<td class="tg-0lax">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="q2" id="q2_4" value="4" >
										<label class="form-check-label" for="q2_4">4</label>
									</div>
								</td>
								<td class="tg-0lax">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="q2" id="q2_5" value="5" >
										<label class="form-check-label" for="q2_5">5</label>
									</div>
								</td>
							</tr>
						</tbody>
						</table>
				</div>
			</div>
			<hr>
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label"> Q3 - Do you think that the suitability score helps in making a better decision about your preference for a new E-charging station? <span style="color: red;">*</span></label>
				<div class="col-sm-7">
					<table class="tg">
						<thead>
							<tr>
								<th class="tg-0lax">Strongly disagree</th>
								<th class="tg-0lax">     Disagree    </th>
								<th class="tg-0lax">     Neutral     </th>
								<th class="tg-0lax">      Agree      </th>
								<th class="tg-0lax">Strongly agree<br></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="tg-0lax">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="q3" id="q3_1" value="1" required>
										<label class="form-check-label" for="q3_1">1</label>
									</div>
								</td>
								<td class="tg-0lax">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="q3" id="q3_2" value="2" >
										<label class="form-check-label" for="q3_2">2</label>
									</div>
								</td>
								<td class="tg-0lax">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="q3" id="q3_3" value="3" >
										<label class="form-check-label" for="q3_3">3</label>
									</div>
								</td>
								<td class="tg-0lax">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="q3" id="q3_4" value="4" >
										<label class="form-check-label" for="q3_4">4</label>
									</div>
								</td>
								<td class="tg-0lax">
									<div class="form-check form-check-inline">
										<input class="form-check-input" type="radio" name="q3" id="q3_5" value="5" >
										<label class="form-check-label" for="q3_5">5</label>
									</div>
								</td>
							</tr>
						</tbody>
						</table>
				</div>
			</div>
			<hr>
			<h4>Questions about the visibility and usability of the user interface elements (Buttons, text, gauges, etc.)</h4>
			<hr>
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label"> Q4 - Was the information in the Home panel helpful to understand the important concepts of the tool? <span style="color: red;">*</span></label>
				<textarea class="form-control" rows="2" name="q4" id="q4" required></textarea>
				</div>
			<!-- textarea -->
			<hr>
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label"> Q5 - Do you think the ability to change service weights according to your preference was helpful in narrowing your choices? <span style="color: red;">*</span></label>
				<textarea class="form-control" rows="2" name="q5" id="q5" required></textarea>
			</div>
			<hr>
			<!-- textarea -->
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label"> Q6 - Do you think the ability to apply your own walking distance is helpful? <span style="color: red;">*</span></label>
				<textarea class="form-control" rows="2" name="q6" id="q6" required></textarea>
			</div>
			<hr>
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label"> Q7 - Did you find out what other users have calculated for the same parking space you voted for? <span style="color: red;">*</span></label>
				<textarea class="form-control" rows="2" name="q7" id="q7" required></textarea>
			</div>
			<hr>
			<h4>Questions about your web-app interactions (clicks, zoom-in, zoom-out)</h4>
			<p>The following questions are meant to provide context to the UI interactions that were performed. Please try to describe your intentions and objections when using the mentioned UI components.</p>
			<p><i><b>Example:</b> I panned the map to explore the surroundings of a certain area. While doing so, I also zoomed in to get a more detailed look or zoomed out to get an overview. Finally, I selected my charging station candidate by clicking on a parking space.</i></p>
			<hr>
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label"> Q8 - Please describe how you made use of ‘Home’ panel. <span style="color: red;">*</span></label>
				<textarea class="form-control" rows="2" name="q8" id="q8" required></textarea>
				</div>
			<!-- textarea -->
			<hr>
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label"> Q9 - Please describe how you made use of map interactions (zoom in/out, pan, select parking space, address query). <span style="color: red;">*</span></label>
				<textarea class="form-control" rows="2" name="q9" id="q9" required></textarea>
			</div>
			<hr>
			<!-- textarea -->
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label"> Q10 - Please describe how you calculated the suitability score using the ‘Suitability Analysis’ panel (setting walking distance, weights, calculating score). <span style="color: red;">*</span></label>
				<textarea class="form-control" rows="2" name="q10" id="q10" required></textarea>
			</div>
			<hr>
			
			<!-- textarea -->
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label"> Q11 - Please describe rated existing charging stations using the ‘Voting’ panel (explore other candidate locations, vote). <span style="color: red;">*</span></label>
				<textarea class="form-control" rows="2" name="q11" id="q11" required></textarea>
			</div>
			<hr>
			<!-- textarea -->
			<div class="form-group">
				<label for="anycom">Any more comments about the user interface and how it could be improved (OPTIONAL)</label>
				<textarea class="form-control" rows="2" name="anycom" id="anycom"></textarea>
			</div>
			<hr>
			<h4>Basic information</h4>
			<hr>
			<div class="form-group row align-items-center">
				<label for="age" class="col-sm-5 col-form-label">Age <span style="color: red;">*</span></label>
				<div class="col-sm-7">
					<input type="number" class="form-control" name="age" id="age" placeholder="in years" required>
				</div>
			</div>
			<hr>
			<div class="form-group row align-items-center">
				<label for="proid" class="col-sm-5 col-form-label">Prolific ID <span style="color: red;">*</span></label>
				<div class="col-sm-7">
					<input class="form-control" name="proid" id="proid" placeholder="Your prolific ID" required>
				</div>
			</div>
			<hr>
			<!-- Input type raio -->
			<div class="form-group row align-items-center">
				<label class="col-sm-5 col-form-label">Gender <span style="color: red;">*</span></label>
				<div class="col-sm-7">
						<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="gender" id="male" value="male" required>
						<label class="form-check-label" for="male">Male</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="gender" id="female" value="female">
						<label class="form-check-label" for="female">Female</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="gender" id="notsay" value="notsay">
						<label class="form-check-label" for="notsay">Rather not say</label>
					</div>
				</div>
			</div>
			<hr>
			<!-- button --> 
			<div class="form-group row align-items-center">
				<label for="submit" class="col-sm-5 col-form-label"></label>
				<div class="col-sm-7">
				<button type="submit" class="btn btn-primary btn-block btn-lg" name="submit" id="submit">Submit</button>
			</div>
			</div>
			</div>
			</form>
</div>
</div>
<script src="{{url_for('static', filename='eval.js')}}"></script>
</body>