<a id="help1"><h2>How is site suitability calculated in this tool and how it is used to find the most suitable location</h2></a>
<p>Site suitability in this tool is calculated based on how far a parking space is from shops, local amenities and bus stations AND your preference regrding importance for them (weights). This distance is user selected. So you can define how far you would be willing to walk while your car is charging. Using this walking distance, the tool calculates how many shops, amenities and bus stations are found within the walking radius for eg., a 100 m radius will try to find how many shops can be found within 100 m from the parking space. More number of shops, amenities and bus stations give a higher score to the parking space.</p>
<p>Site suitability score is calculated with formula - </p>
<p>Score = (number of amenities * weight for amenities) + (number of shops * weight for shops) + (number of public transport * weight for public transport)</p>
<p> This gives us a totaal score combining all values and all weights (importance) and the number of elements found in each category above. In our calculation, the weights determine how much influence will an element have on the final value</p>
<p>if you give less weight for shops, even though many shops are found within the given walking radius, the score will not be very high</p>
<p>This creates a personalized score for a parking space. Another user can calculate a score for the same parking space with different walking distance, or with different weights</p>
<p>Parking spaces that have a higher overall score from multiple calculations can be deemed as most suitable for building a new E-charging station.</p>