<html>
<head>
    <link rel="icon" type="image/png" href="static/favicon.ico" alt="Oregon Department of Transportation, CC BY 2.0 <https://creativecommons.org/licenses/by/2.0>, via Wikimedia Commons">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
   <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>   
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='Map.css')}}">
    <script src="https://kit.fontawesome.com/dbf9c09690.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='sidebar/js/leaflet-sidebar.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-guide/src/jquery.guide.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='sidebar/css/leaflet-sidebar.css')}}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.4/raphael-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/justgage/1.5.0/justgage.js" integrity="sha512-Piu8WOi5veLuPnpqYNaRACmdu+q4BMuMtgIRSYobMwkwgE2HaihDnhGbhD706ZkaZC1TwTVB7hAVvI6BPvY5Ew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/kineticjs/5.2.0/kinetic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/enjoyhint/4.0.1/enjoyhint.js" integrity="sha512-oXiI1oQxVcASozAHBpFUx+W29grBRfHgPT5seevs3zoMIZ3Rc9yd5t3g5Gcm63vEERHkWVRoYrO9pcYWJBMBEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/enjoyhint/4.0.1/enjoyhint.css" integrity="sha512-Baz7a52wopariCsJ2YQFN2vk1c//8AoTmNdZwEtzobuqogW3pXKKirYY561EjbEOGgAVOfT4291K0nlmGH+NJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
    #container {
        width: 300px;
        height: 100px;
        margin: 0;
        padding: 0;
    }
    #container2 {
        width: 300px;
        height: 100px;
        margin: 0;
        padding: 0;
    }
    #sliders {
        width: 300px;
        padding: 20px;
    }
    
    #sliders li {
        margin-bottom: 10px;
    }
    
    #sliders div {
        margin-bottom: 5px;
    }

    #slider1 .ui-state-default, .ui-widget-content 
    .ui-state-default, .ui-widget-header 
    .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, 
    html .ui-button.ui-state-disabled:active 
    { 
        border: 1px solid #0074d9; 
        background: #0074d9;
    } 

    .buttonprocess {
        background-color: #0074d9;
        border: 3px solid black;
        width: 200px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 4px #999;
        border-radius: 15px;
    }

    .buttonprocess:hover {
        background-color: #4CAF50;
        border: 3px solid black;
    }

    .buttonprocess:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(2px);
        border-radius: 15px;
    }

    .buttonvote {
        background-color: #0074d9;
        border: 3px solid black;
        width: 200px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 4px #999;
        border-radius: 15px;
    }

    .buttonvote:hover {
        background-color: #4CAF50;
        border: 3px solid black;
    }

    .buttonvote:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(2px);
        border-radius: 15px;
    }

    .buttoninfo {
        background-color: #0074d9;
        border: 3px solid black;
        width: 100px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 4px #999;
        border-radius: 15px;
    }

    .buttoninfo:hover {
        background-color: #4CAF50;
        border: 3px solid black;
    }

    .buttoninfo:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(2px);
        border-radius: 15px;
    }

    #tour {
        background-color: #0074d9; /* Green */
        border: 3px solid black;
        color: white;
        padding: 5px;
        width: 150px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        transition-duration: 0.2s;
        cursor: pointer;
        border-radius: 15px;
        box-shadow: 0 4px #999;
    }

    #tour:hover {
        background-color: #4CAF50; 
        border: 3px solid black;
    }

    #tour:active {
        background-color: #0074d9;
        box-shadow: 0 5px #666;
        transform: translateY(2px);
        border-radius: 15px;
    }

    #done {
        background-color: green; /* Green */
        border: 3px solid black;
        color: white;
        padding: 5px;
        width: 150px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        transition-duration: 0.2s;
        cursor: pointer;
        float: right;
        border-radius: 15px;
        box-shadow: 0 4px #999;
    }

    #done:hover {
        background-color: #ffffff; 
        color: black; 
        border: 3px solid green;
    }

    #done:active {
        background-color: green;
        box-shadow: 0 5px #666;
        transform: translateY(2px);
        border-radius: 15px;
    }

    #step1 {
        font-size: 19px;
    }

    #heading {
        height: 30px;
        width: auto;
        background-color: #0074d9;
        padding: 10px;
        margin: 0%;
        color: white;
        font-size: 20px;
    }

    #collapse {
        color: white;
    }
    
    
    html, body {
        margin: 0px;
        height: 100%;
        font-size: 1.05vw;
    }

    #titlem {
        margin: 0px;
    }

    #allbody {
        height: 95.5%;
    }
    .legend {
        padding: 6px 8px;
        font: 14px Arial, Helvetica, sans-serif;
        background: white;
        background: rgba(255, 255, 255, 0.8);
        /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
        /*border-radius: 5px;*/
        line-height: 24px;
        color: #555;
      }
      .legend h4 {
        text-align: center;
        font-size: 16px;
        margin: 2px 12px 8px;
        color: #777;
      }
      
      .legend span {
        position: relative;
        bottom: 3px;
      }
      
      .legend i {
        width: 18px;
        height: 18px;
        float: left;
        margin: 0 8px 0 0;
        opacity: 0.7;
      }
      
      .legend i.icon {
        background-size: 18px;
        background-color: rgba(255, 255, 255, 1);
      }
    
</style>
<body>
    <div id="allbody">
    <div id="heading">
        <P id="titlem">Site suitability for new E-charging stations <span><button id="done" onclick="donetesting()">Done testing</button></span></P>
    </div> 
    <div id="llmap">
        <div id="sidebar" class="leaflet-sidebar collapsed">

        <!-- nav tabs -->
        <div class="leaflet-sidebar-tabs">
            <!-- top aligned tabs -->
            <ul role="tablist">
                <li><a id="home" class="home" href="#home" role="tab"><i class="fa fa-bars active"></i></a></li>
                <li><a id='processing' class="processing" href="#processing" role="tab"><i class="fa fa-gear active"></i></a></li>
                <li><a id='voting' class="voting" href="#voting" role="tab"><i class="fas fa-poll"></i></a></li>
            </ul>
        </div>

        <!-- panel content -->
        <div class="leaflet-sidebar-content">
            <div class="leaflet-sidebar-pane" id="home">
                <h2 class="leaflet-sidebar-header">
                    Home
                    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>

                <h3>Welcome to the application for suggesting new E-charging stations</h3>
                <h4>About this tool</h4>
                <p class="lorem">This tool is designed to give residents of Muenster a way to voice their opinion about the new upcoming locations for E-charging stations. The tool aims to provide residents a way to check the suitability of a location of their choice by calculating a suitability score based on three factors (proximity to amenities, shops and bus stations). This tool can help users and the municipality to make an informed decision about the upcoming locations for E-charging stations.</p>
                <h4>To take a tour of where and how a tool works, please click here -</h4>
                <p><button id="tour" onclick="tour()">Take a tour</button></p>
                <h4>Some definitions and important concepts of the tool :-</h4>
                <p class="lorem"><b>E-charging stations - </b>Echarging stations are a public utility infrastructure that provides recharging facility for electric cars.</p>
                <p><b>Site suitability - </b>Site suitability is a process, as the name suggests, to find the best suitable location for a certain object based on certain parameters. To know more about geoinformation based site suitability, please go <a target="_blank" href="https://en.wikipedia.org/wiki/Suitability_analysis#Suitability_in_GIS_context">here</a></p>
                <p><b>Weights - </b>Weights determine how important something is to you. If you, as a user think that you will be shopping most of the time while your car is charging, you can increase the weight for shops while processing. This will show you a specific suitability score for a parking space based on what you think is important.</p>
                <p><b>Site suitability score - </b>The site suitability score defines a single number for a certain object (in our case, a parking lot). Higher the number, higher the suitability of an object</p>
                <h4>To see how site suitability is calculated in this tool, please go <a id="help1" href="help1.html" target="_blank" onclick="window.open('help1.html', 
                    'newwindow', 
                    'width=600,height=500'); 
                    return false;">here</a> </h4>
                <p>
            </div>
            
            <div class="leaflet-sidebar-pane" id="processing">
                <h2 class="leaflet-sidebar-header">
                    Suitability analysis
                    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>
                <div id="processingwait" style="height: 600px; width:200px; text-align:center; font-size:30px">
                    <br>
                    <br>
                    <br>
                    <p>SELECT A CANDIDATE LOCATION BY CLICKING ON A PARKING SPACE ON THE MAP</p>
                </div>
                <div id="processshow" style="display: none;">
                    <h4 data-tippy-size="large">Walking distance: How far would you walk while the car is charging?  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Icon-round-Question_mark.svg" style="width:18px;height:18px;" id='walk'></h4>
                    <input type="number" id="userInput" value=50> meters</input>
                    <br>
                    <h4>Select weights: Weights determine what is more important to you  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Icon-round-Question_mark.svg" style="width:18px;height:18px;" id='weights' data-tippy-size="large",></h4>
                    <ul>
                        <li>
                            <p style="font-size: 11px;">Amenities  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Icon-round-Question_mark.svg" style="width:18px;height:18px;" id='amen'></p>
                            <div id="slider1">60</div>
                            <span class="value">0</span>%
                        </li>
                        <li>
                            <p style="font-size: 11px;">Shops  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Icon-round-Question_mark.svg" style="width:18px;height:18px;" id='shops'></p>
                            <div id="slider2">30</div>
                            <span class="value" >0</span>%
                        </li>
                        <li>
                            <p style="font-size: 11px;">Public transport  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Icon-round-Question_mark.svg" style="width:18px;height:18px;" id='pt'></p>
                            <div id="slider3">10</div>
                            <span class="value">0</span>%
                        </li>
                    </ul>
                    <h3>Begin processing</h3>
                    <button class="buttonprocess" id="buttonprocess" onclick="processF()">Process</button>
                    <button class="buttonprocess" id="buttonload", style="display: none;">Processing     <img src="https://c.tenor.com/5o2p0tH5LFQAAAAi/hug.gif" style="width:18px;height:18px;" id='amen'></button>
                    <h3>Score <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Icon-round-Question_mark.svg" style="width:18px;height:18px;" id='score'></h3>
                    <div id="container"></div>
                    <p style="font-size: 15px;">Amenities found within <span id="dist">0</span> m : <span id="amfound">0</span> </p>
                    <p style="font-size: 15px;">Shops found within <span id="dist1">0</span> m : <span id="shfound">0</span></p>
                    <p style="font-size: 15px;">Public transport found within <span id="dist2">0</span> m : <span id="ptfound">0</span></p>
                </div>
            </div>
            <div class="leaflet-sidebar-pane" id="voting">
                <h2 class="leaflet-sidebar-header">
                    Voting system
                    <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h2>
                <h3>Click on a parking space of your choice</h3>
                <h3>Average score for this location: <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Icon-round-Question_mark.svg" style="width:18px;height:18px;" id='avg'></h3>
                <br>
                <div id="container2"></div>
                <br>
                <h3>Select the type of charger  <img src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Icon-round-Question_mark.svg" style="width:18px;height:18px;" id='type'></h3>
                <select name="typech" id="typech">
                    <option id="type1" value="t1">Type 1</option>
                    <option id="type2" value="t2">Type 2</option>
                    <option id="type3" value="t3">Type 3 (Fast charging)</option>
                </select>
                <p>For more information on types of charging stations, please go <a href="https://www.forbes.com/wheels/advice/ev-charging-levels/" target="_blank">here</a></p>
                <br>
                <p><button class="buttonvote" onclick="vote()">Click to vote</button></p>
                <br>
                <h3>Click here to see what others have calculated for the same parking space:</h3>
                <button class="buttoninfo" onclick="more()">Info</button>
                <div id="target"></div></p>
        </div>
        </div>
    </div>
</div>
<script src="{{url_for('static', filename='Map.js')}}"></script>

</body>
</html>