<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<TITLE>Task sheet</TITLE>
<META name="generator" content="BCL easyConverter SDK 5.0.252">
<META name="author" content="Aditya Rajendra Kudekar">
<header>
    <link rel="icon" type="image/png" href="static/favicon.ico" alt="Oregon Department of Transportation, CC BY 2.0 <https://creativecommons.org/licenses/by/2.0>, via Wikimedia Commons">
</header>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 1px 60px;padding: 0px; border:2px; width: 1200px;}





.ft0{font: 37px 'Calibri';line-height: 37px;}
.ft1{font: bold 22px 'Calibri';line-height: 23px;}
.ft2{font: 18px 'Calibri';line-height: 18px;}
.ft3{font: 18px 'Calibri';margin-left: 12px;line-height: 18px;}

.p0{text-align: left;padding-left: 210px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 205px;margin-top: 25px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 12px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 12px;margin-bottom: 0px;}
.p4{text-align: justify;padding-right: 94px;margin-top: 12px;margin-bottom: 0px;}
.p5{text-align: justify;padding-right: 94px;margin-top: 13px;margin-bottom: 0px;}
.p6{text-align: justify;padding-right: 95px;margin-top: 13px;margin-bottom: 0px;}
.p7{text-align: justify;padding-right: 95px;margin-top: 14px;margin-bottom: 0px;}
.p8{text-align: justify;padding-right: 94px;margin-top: 14px;margin-bottom: 0px;}
.p9{text-align: left;margin-top: 14px;margin-bottom: 0px;}
.p10{text-align: left;padding-left: 48px;padding-right: 95px;margin-top: 12px;margin-bottom: 0px;text-indent: -24px;}
.p11{text-align: left;padding-left: 24px;margin-top: 21px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 48px;padding-right: 95px;margin-top: 21px;margin-bottom: 0px;text-indent: -24px;}
.p13{text-align: left;padding-left: 48px;padding-right: 95px;margin-top: 22px;margin-bottom: 0px;text-indent: -24px;}
.p14{text-align: left;padding-left: 24px;margin-top: 22px;margin-bottom: 0px;}
.p15{text-align: justify;padding-left: 48px;padding-right: 95px;margin-top: 20px;margin-bottom: 0px;text-indent: -24px;}




</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<P class="p0 ft0">Task sheet</P>
<P class="p1 ft1">Do not close this window</P>
<hr>
<P class="p6 ft1">Notice:- This task sheet is <b>only designed to guide</b> you through the user study by describing the given scenario and the steps that are required to complete the study. Please read through it carefully and do not close it before finishing the task</P>
<hr>
<h2>Study scenario</h2>
<P class="p2 ft2">You are a long-term resident of the city of Münster and you plan to buy an electric vehicle in the near future.</P>
<P class="p2 ft2">You do not have a home e-charging system and you find it economical to use public e-charging stations quite often.</P>
<P class="p3 ft2">You live on <b>{{source}}, Münster</b> and work on <b>{{work}}, Münster.</b></P> 
<P class="p4 ft2">You go to the same area as your workplace ({{work}}, Münster) for recreation and shopping. Therefore, charging your vehicle during work or recreational activities in this area would be very convenient for you.</P>
<P class="p6 ft2">However, as parking spaces and public chargers might be limited in this area you also want to consider charging stations along your route from home to this area or even along alternative routes.</P>
<P class="p7 ft2">The city has recently <NOBR>set-up</NOBR> a system where residents can suggest locations for new <NOBR>e-charging</NOBR> stations by using this tool. But the city feels that the users need to make an informed decision using the suitability analysis, instead of blindly pointing on the map.</P>
<P class="p8 ft2"><NOBR>E-charging</NOBR> stations can be placed in parking spaces all over the city. Parking spaces are shown in purple color.</P>
<hr>
<h2>Steps to be completed</h2>
<P class="p9 ft2">You can check off the tasks using the checkboxes next to the tasks. Any task that could not be completed, can be left unchecked</p>
<P class="p10 ft2"><SPAN class="ft2">1.</SPAN><SPAN class="ft3">Click on “Start tour” in the home tab and familiarize yourself with the app. Explore and read the information about the app and try to understand the procedure.</SPAN><input type="checkbox" id="checked" name="checked"
    unchecked>
    <label for="check">Done</label></P>
<P class="p11 ft2"><SPAN class="ft2">2.</SPAN><SPAN class="ft3">Locate your <b>home</b> and <b>work</b> address uing the navigation tool.You can also <b>copy-paste</b> these addresses to the navigator</SPAN><input type="checkbox" id="checked" name="checked"
    unchecked>
    <label for="check">Done</label></P>
<P class="p12 ft2"><SPAN class="ft2">3.</SPAN><SPAN class="ft3">Choose a candidate parking space and calculate a suitability score based on the your daily activities mentioned above. You can repeat this step to calculate the score for multiple locations</SPAN><input type="checkbox" id="checked" name="checked"
    unchecked>
    <label for="check">Done</label></P>
<P class="p11 ft2"><SPAN class="ft2">4.</SPAN><SPAN class="ft3">Switch to the voting panel and explore existing processed parking spaces from other users. Find and vote on parking spaces that you think are a good fit for your daily activities mentioned above by voting on them. Choose the type of charger</SPAN><input type="checkbox" id="checked" name="checked"
    unchecked>
    <label for="check">Done</label></P>
<hr>
<p class="p6 ft1">Click on "Done testing" in the top right corner of the app after finishing all the steps</b>
</DIV>
</BODY>
</HTML>
